.search-box {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #c00000;
  padding: 20rpx;
	
	.box {
		display: flex;
		align-items: center;
		background-color: #fff;
		height: 66rpx;
		padding: 20rpx;
		box-sizing: border-box;
		border-radius: 40rpx;
	}
	
	.input-box {  
		flex: 1;
		margin-left: 10rpx;
	}
}

.suggest-list {
  padding: 0 20rpx;
  
  .suggest-item {
    display: flex;
    justify-content: space-between;
	align-items: center;
    padding: 20rpx 0;
    border-bottom: 2rpx solid #eee;
    
    .suggest-item-title {
	  // 文字不允许换行（单行文本）
      white-space: nowrap;
	  // 溢出部分隐藏
      overflow: hidden;
	  // 文本溢出后，使用 ... 代替
      text-overflow: ellipsis;
	  margin-right: 6rpx;
	  font-size: 24rpx;
    }
  }
}
.search-history {
	padding: 0 10rpx;
	
	.history-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// padding: 16rpx;
		height: 40px;
		border-bottom: 2rpx solid #eee;
		color: #80807f;
		font-size: 24rpx;
	}
	
	.history-list {
		display: flex;
		flex-wrap: wrap;
		
		.history-item {
			padding: 10rpx 30rpx;
		}
	}
}