.cart-wrap {
	padding: 20rpx;
	.cart-title {
		display: flex;
		align-items: center;
		height: 80rpx;
		padding-left: 10rpx;
		border-bottom: 2rpx solid #eee;
		.cart-title-text {
			margin-left: 20rpx;
			font-size: 28rpx;
		}
	}
}
