.search-box {
	// position: fixed;
	// 粘性定位：设置定位效果为“吸顶”
	position: sticky;
	// 吸顶的位置
	top: 0;
	// 提高层级，防止被轮播图覆盖
	z-index: 999;
}
.top-banner {
	height: 320upx;
}
.swiper-item image{
		width: 100%;
		height: 100%;
		object-fit: cover;
}
.nav-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin: 30upx 0;
}

.nav-item .nav-img {
	width: 120upx;
	height: 120upx;
	object-fit: cover;
}
.floor-list{
  padding-left: 10upx;
}
.floor-title .floor-title-img {
	width: 100%;
	object-fit: cover;
}
.floor-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.product-left .product-img {
  object-fit: cover;
}
.product-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.product-right .product-img {
  object-fit: cover;
}
// .product-right .product-img:nth-child(2n) {
//   margin-left: 20upx;
// }