.cate-wrap {
  display: flex;
  .cate-scroll-left {
    // flex: 1;
    width: 240rpx;
    .cate-scroll-left-item{
      background-color: #f7f7f7;
      line-height: 100rpx;
      text-align: center;
      font-size: 24rpx;
      // 交集选择器，激活项的样式
      &.active {
        position: relative;
        background-color: #fff;
        // border-left: 6rpx solid red;
        // 渲染激活项左侧的红色指示边线
        &::before{
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: '';
          display: block;
          width: 6rpx;
          height: 60rpx;
          background-color: #c00000;
        }
      }
    }
  }
  .cate-scroll-right {
    // flex: 3;
    .cate-level-2-title {
      font-size: 24rpx;
      padding: 32rpx 0;
      font-weight: 700;
      text-align: center;
    }
    
    .cate-level-3 {
      display: flex;
      flex-flow: row wrap;
      // padding-left: 32rpx;
      
      .cate-level-3-item {
        // 方法二：图片和文字居中对齐
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 150rpx;
        width: 33.33%;
        margin-bottom: 20rpx;
        // padding-right: 20rpx;
        // 方法一：图片和文字居中对齐
        // text-align: center;
        
        .cate-level-3-img {
          // width: 100%;
          width: 120rpx;
          height: 120rpx;
          object-fit: cover;
          vertical-align: middle;
        }
        .cate-level-3-txt {
          font-size: 24rpx;
        }
      }
    }
  }
}